*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 400px;
    /* width: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(31, 109, 105); */
    flex-direction: column-reverse;
    
}
.quiz{
    text-align: center;
    width: 50%;
    padding: 1rem;
    margin: 3rem;
    border-radius: 2rem;
    background-color: #0c8f73;
    position: relative;
}

